.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.gallery img {
  width: 360px;
  height: 200px;
  transition: transform 0.3s ease;
}

.gallery img:hover {
  transform: scale(1.04);
}
.simple-lightbox {
  background: rgba(46, 47, 66, 0.8);
}
